@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

.container:hover input ~ .checkmark {
    background-color: #6CEEC7;
    transition: 300ms;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #6CEEC7;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 5px;
    top: 0;
    width: 8px;
    height: 15px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }